<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hrach Hovakimyan</title>
    link
    <link rel="shortcut icon" href="./../assets/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="It's all problems and solutions. How may I be of service to you?">
    <link rel="stylesheet" href="/assets/sass/main.css" />
    <script src="https://kit.fontawesome.com/4d29fc6e01.js" crossorigin="anonymous"></script>
</head>
<body>
    {{{body}}}   
</body>
</html>