<!-- Header -->

<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img loading="lazy" src="./assets/images/avatar.jpg" alt="" /></a>
		<h1><strong>I am Hrachya</strong>,<br />
			a fullstack
			web developer <br />
	</div>
</header>

<!-- Main -->
<div id="main">

	<!-- One -->
	<section id="one">
		<header class="major">
			<h2>It's all problems and solutions <br />
				How may I be of service to you?</h2>
		</header>
	</section>

	<!-- Two -->
	<section id="two">
		<h2>Recent Works</h2>
		<div class="row">
			<article class="col-6 col-12-xsmall work-item">
				<a href="./assets/images/thumbs/CAU.png" class="image fit thumb"><img loading="lazy"
						src="./assets/images/thumbs/CAU.png" alt="" /></a>
				<h3>Cross of Armenian Unity</h3>
				<p>
					<a target="_blank" href="http://cau.am/">View app</a>
				</p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href="./assets/images/thumbs/MINDSCHOOL.png" class="image fit thumb"><img loading="lazy"
						src="./assets/images/thumbs/MINDSCHOOL.png" alt="" /></a>
				<h3>Mind School</h3>
				<p>
					<a target="_blank" href="http://mindschool.am/">View app</a>
				</p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href="./assets/images/thumbs/LIVECHATAPP.png" class="image fit thumb"><img loading="lazy"
						src="./assets/images/thumbs/LIVECHATAPP.png" alt="" /></a>
				<h3>Live Chat App</h3>
				<p><a target="_blank" href="https://chat-app-with-nuxt.herokuapp.com/">View app</a></p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href="./assets/images/thumbs/WORD_DEFENITION_GAME.png" class="image fit thumb"><img loading="lazy"
						src="./assets/images/thumbs/WORD_DEFENITION_GAME.png" alt="" /></a>
				<h3>Word Definition Game</h3>
				<p><a target="_blank" href="https://word-defenition-game.now.sh/">View app</a></p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href="./assets/images/thumbs/TETRIS.png" class="image fit thumb"><img loading="lazy"
						src="./assets/images/thumbs/TETRIS.png" alt="" /></a>
				<h3>Tetris</h3>
				<p><a target="_blank" href="https://hrach2003.github.io/Tetris/">View app</a></p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href="./assets/images/thumbs/PING-PONG.png" class="image fit thumb"><img loading="lazy"
						src="./assets/images/thumbs/PING-PONG.png" alt="" /></a>
				<h3>Ping Pong</h3>
				<p><a target="_blank" href="https://hrach2003.github.io/ping_pong/">View app</a></p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href="./assets/images/thumbs/SNAKE.png" class="image fit thumb"><img loading="lazy"
						src="./assets/images/thumbs/SNAKE.png" alt="" /></a>
				<h3>Snake</h3>
				<p><a target="_blank" href="https://hrach2003.github.io/snakeJs/">View app</a></p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href="./assets/images/thumbs/MINESWEAPER.png" class="image fit thumb"><img loading="lazy"
						src="./assets/images/thumbs/MINESWEAPER.png" alt="" /></a>
				<h3>Minesweaper</h3>
				<p><a target="_blank" href="https://hrach2003.github.io/minesweaper/">View app</a></p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href="./assets/images/thumbs/2048.png" class="image fit thumb"><img loading="lazy"
						src="./assets/images/thumbs/2048.png" alt="" /></a>
				<h3>2048</h3>
				<p><a target="_blank" href="https://hrach2003.github.io/2048/">View app</a></p>
			</article>
		</div>
	</section>

	<!-- Three -->
	<section id="three">
		<h2>Get In Touch</h2>
		<div class="row">
			<div class="col-8 col-12-small">
				<form method="POST" action="send">
					<div class="row gtr-uniform gtr-50">
						<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" />
						</div>
						<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email"
								placeholder="Email" /></div>
						<div class="col-12"><textarea name="message" id="message" placeholder="Message"
								rows="4"></textarea></div>
					</div>
					<ul class="actions mb">
						<li><input type="submit" value="Send Message" /></li>
					</ul>
				</form>

			</div>
			<div class="col-4 col-12-small">
				<ul class="labeled-icons">
					<li>
						<h3 class="icon solid "><i class="fas fa-home"></i> <span class="label">Address</span></h3>
						street M. Korun house 4<br />
						Vilage Geghakert<br />
						Armenia
					</li>
					<li>
						<h3 class="icon solid "><i class="fas fa-mobile-alt"></i> <span class="label">Phone</span></h3>
						<a href="tel:+37477812147">+374 77 812-147</a>
					</li>
					<li>
						<h3 class="icon solid"><i class=" fas fa-envelope"></i> <span class="label">Email</span></h3>
						<a href="mailto:hr.ovakimyan.03@gmail.com">hr.ovakimyan.03@gmail.com</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li><a href="https://t.me/Hovakimyan2003" class="icon brands fa-telegram"><span
						class="label">Telegram</span></a></li>
			<li><a href="https://github.com/Hrach2003" class="icon brands fa-github"><span
						class="label">Github</span></a></li>
			<li><a href="mailto:hr.ovakimyan.03@gmail.com" class="icon brands"><i style="font-size: 25px;"
						class="fas fa-envelope"></i> <span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>
				<h3 style="color: white;">&copy; Make your own expectations</h3>
			</li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/jquery.poptrox.min.js"></script>
<script src="./assets/js/browser.min.js"></script>
<script src="./assets/js/breakpoints.min.js"></script>
<script src="./assets/js/util.js"></script>
<script src="./assets/js/main.js"></script>

<script>

</script>